# Project 1 - Predicting Active Users on a Website

Time series analysis involves examining datasets that change over time to identify patterns, trends, and seasonal variations. This type of analysis is used in various fields such as finance, economics, and meteorology to forecast future values based on past data.

- Steps Involved in Time Series Analysis:
  
1- Data Collection: The first step is gathering the relevant data over a specified period. This data must be accurate and timely to ensure meaningful analysis.

2- Visualisation: Once collected, the data is visualised using plots and graphs to understand its underlying patterns, trends, and any seasonal variations.

3- Decomposition: The time series data is decomposed into its constituent components: trend, seasonality, and residual (noise). This helps in better understanding the individual elements affecting the data.

4- Stationarity: For accurate modelling, the data must be stationary, meaning its statistical properties (mean, variance) do not change over time. Techniques such as differencing or transformation are used to achieve stationarity if needed.

5- Model Selection: Various models can be applied to time series data, including ARIMA (AutoRegressive Integrated Moving Average), SARIMA (Seasonal ARIMA), and EMA (Exponential Moving Average). The choice of model depends on the characteristics of the data and the specific requirements of the analysis.

6- Parameter Estimation and Validation: Once a model is selected, its parameters need to be estimated and validated. This involves using techniques like cross-validation to ensure the model performs well on unseen data.

7- Forecasting: Using the validated model, future values of the time series are predicted. This is the core purpose of time series analysis and helps in making informed decisions based on the forecasts.

8- Evaluation and Updating: The accuracy of the forecasts is evaluated using metrics such as Mean Absolute Error (MAE) or Root Mean Square Error (RMSE). Based on the evaluation, the model might need to be updated or refined to improve its forecasting accuracy.

> In this project all these steps will be carried out.

In [1]:
!pip install -q -U watermark

In [2]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as m
import seaborn as sns
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
# Formatting for Graphs and Tables
plt.style.use('ggplot')
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
# Formatting the Graphs Label
m.rcParams['axes.labelsize'] = 14
m.rcParams['xtick.labelsize'] = 12
m.rcParams['ytick.labelsize'] = 12
m.rcParams['text.color'] = 'k'

In [5]:
%reload_ext watermark
%watermark -a "Zelly Irigon"

Author: Zelly Irigon

In [7]:
# Loading the data
data = pd.read_csv('dataset.csv', header = None)

In [8]:
# Visualasing the data
data.head()

         0    1
0  2013-01  110
1  2013-02  121
2  2013-03  135
3  2013-04  127
4  2013-05  128

Note that there are two columns. This data represents a univariate series, so there is only one random variable(active_users) and the date, which means the index of the series. The series is monthly.

In [9]:
# Adjusting the name of each column
data.columns = ['month', 'active_users']

In [10]:
# Visualising the data
data.head()

     month  active_users
0  2013-01           110
1  2013-02           121
2  2013-03           135
3  2013-04           127
4  2013-05           128